/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.inputField {
    -fx-background-color: #fefefe;
    -fx-border-radius: 3;
    -fx-border-color: #9e9e9e;
}